<dev-profile-panel 
    [icon]="'handyman'"
    [isOwner]="isOwner"
    [loading]="loading"
    [label]="'Tecnologias'"
    (onEdit)="isModalOpen = true"
    >

    <div class="flex flex-column gap-4 md:pr-4 md:py-2">

        @if (!(stackList && stackList.length > 0)) {

            @if (isOwner) {

                <p-button 
                    size="small"
                    label="Novo"
                    icon="pi pi-plus"
                    severity="success"
                    [loading]="loading || editLoading"
                />
            
            } @else {
    
                <p class="text-xs">Nenhum registro</p>
            }

        } @else {

            <section class="flex gap-2 flex-wrap">

                @for (stack of stackList; track stack; let idx = $index) {

                    <p-chip 
                        [removable]="false"
                        label={{stack.name}} 
                        styleClass="px-3 py-2"
                        pTooltip={{stack.workload}} 
                    />
                }

            </section>
        }

    </div>

</dev-profile-panel>

<app-modal 
    [icon]="'handyman'"
    [loading]="loading"
    [isOpen]="isModalOpen"
    [editLoading]="editLoading"
    [title]="'Editar Tecnologias'"
    (onClose)="isModalOpen = !isModalOpen">

    <p-tabView>

        @if(stackList) {

            @for (currentForm of stackFormList; track currentForm; let idx = $index) {

                <p-tabPanel header="{{stackList[idx].name}}">

                    <div class="my-4">

                        <div class="flex justify-content-end">
                            <i  pTooltip="Atualizado em: {{ stackList[idx].updatedAt | DD_MM_YYYY }}"                                
                                class="material-icons cursor-pointer">help
                            </i>                                                            
                        </div>

                        <app-developer-stacklist-form
                            [stackListForm]="currentForm"
                        />

                        <div class="flex gap-2 mt-4">
                            <p-button 
                                size="small"
                                label="Salvar" 
                                icon="pi pi-check"
                                [loading]="loading || editLoading"
                                (click)="updateStackList(currentForm)"
                                [disabled]="currentForm.invalid || loading || editLoading"
                            />
                            <p-button
                                size="small"
                                label="Excluir" 
                                severity="danger"
                                icon="pi pi-trash"
                                [loading]="loading || editLoading"
                                [disabled]="loading || editLoading"
                                (click)="confirmDelete($event, currentForm.value.id)"
                            />
                        </div>
                    </div>
    
                </p-tabPanel>     
            }
        }

    </p-tabView>
</app-modal>

<!-- (click)="onSave.emit({ form: currentForm, identifier: 'DEVELOPER_STACKLIST' })" -->