<dev-profile-panel 
    [icon]="'handyman'"
    [isOwner]="isOwner"
    [loading]="loading"
    (onAdd)="onAdding()"
    [label]="'Tecnologias'"
    (onEdit)="isModalOpen = true">    

    <div class="flex flex-column gap-4 md:pr-4 md:py-2">

        @if (!(stackList && stackList.length > 0)) {

            @if (isOwner) {

            <dev-new-field-btn
                [loading]="loading || editLoading"
                (newClick)="onAdding()"
            />
            
            } @else {
    
                <p class="app-xs">Nenhum registro</p>
            }

        } @else {

            <section class="flex gap-2 flex-wrap">

                @for (stack of stackList; track stack; let idx = $index) {

                    <p-chip 
                        [removable]="false"
                        label={{stack.name}} 
                        styleClass="px-3 py-2"
                        pTooltip={{stack.workload}} 
                    />
                }

            </section>
        }

    </div>

</dev-profile-panel>

<app-modal 
    [icon]="'handyman'"
    [isOpen]="isModalOpen"
    (onClose)="onCloseModal()"
    [loading]="loading || editLoading"
    [title]="(addingNewField ? 'Nova Tecnologia' : 'Editar Tecnologias')">

    @if (addingNewField && newFieldForm) {

        <p-tabView>
            <p-tabPanel header={{newFieldForm.value.title}}>

                <div class="my-4">

                    <app-developer-stacklist-form
                        [stackListForm]="newFieldForm"
                    />

                    <p-button 
                        size="small"
                        label="Salvar" 
                        icon="pi pi-check"
                        [loading]="loading || editLoading"
                        [disabled]="newFieldForm.invalid || loading || editLoading"
                        (click)="addNewField(newFieldForm)"
                    />
                </div>

            </p-tabPanel>
        </p-tabView>
    }

    @else {

        @if(stackList && stackList.length > 0) {

            <p-tabView>
                  
                @for (currentForm of stackFormList; track currentForm; let idx = $index) {
        
                    <p-tabPanel header="{{stackList[idx].name}}">        
                        <div class="my-4">
        
                            <div class="flex justify-content-end">
                                <i  pTooltip="Atualizado em: {{ stackList[idx].updatedAt | DD_MM_YYYY }}"                                
                                    class="material-icons cursor-pointer">help
                                </i>                                                            
                            </div>
        
                            <app-developer-stacklist-form
                                [stackListForm]="currentForm"
                            />
        
                            <dev-save-delete-btn
                                [loading]="loading"
                                [disabled]="loading || editLoading"
                                (clickUpdate)="updateStackList(currentForm)"                   
                                (clickDelete)="confirmDelete($event, currentForm.value.id)"
                                [saveDisabled]="currentForm.invalid || loading || editLoading"
                            />
                        </div>
                    </p-tabPanel>                     
                }

            </p-tabView>
        }

        @else {

            <p class="app-xs">Nenhum registro</p>

            <dev-new-field-btn
                [loading]="loading || editLoading"
                (newClick)="onAdding()"
            />
        }
    }

</app-modal>