<main class="flex flex-column gap-4 p-4">

    @if(currentProfile) {

        <section>
            <h3>Sobre a empresa</h3>
            <div class="line-height-4" [innerHTML]="currentProfile.details.about"></div>
        </section>
    
        <p-divider styleClass="w-11 mt-6 m-auto" />
    
        @if (openOffers && openOffers.length > 0) {

            <section>

                <h3>Vagas em aberto</h3>
                <app-job-offer-preview
                    [jobOffersList]="openOffers"
                    (onNavigate)="onNavigate.emit($event)"
                    [currentProfileId]="currentProfile.id"
                />

            </section>
    
        }
    }
    
    @else {
    
        <h3>perfil não encontrado</h3>
        <button pButton>buscar novos perfis []</button>
    }

</main>