header {

    height: var(--header-height);
    border-bottom: var(--app-border);
    background-color: var(--surface-ground);

    position: sticky;
    z-index: 99;
    top: 0;

    main {

        height: calc(var(--header-height) - 3px); // p-progressbar        
    }
}

.cursor-not {

    cursor: not-allowed;
}

.hidden-scroll::-webkit-scrollbar {

    display: none;
}

.p-tag-value {

    font-size: 11px;
}

.app-border {

    border: var(--app-border);
}

.small-icon {

    font-size: 17px;
}

.p-tooltip {

    font-size: 0.8rem;
}