<dev-profile-panel 
    [isOwner]="isOwner"
    [loading]="loading"
    [label]="'Certificados'"
    [icon]="'workspace_premium'"
    (onEdit)="isModalOpen = true"
    >

    <div class="flex flex-column gap-4 md:pr-4 md:py-2">

        @if (!(certificatesList && certificatesList.length > 0)) {

            @if (isOwner) {

                <p-button 
                    size="small"
                    label="Novo"
                    icon="pi pi-plus"
                    severity="success"
                    [loading]="loading || editLoading"
                />
            
            } @else {
    
                <p class="text-xs">Nenhum registro</p>
            }

        } @else {

            @for (certificate of certificatesList; track certificate; let idx = $index) {

                <section class="flex flex-column gap-3">

                    <div class="flex justify-content-between align-items-center">
                        <span class="font-bold text-2xl">{{ certificate.institution }}</span>

                        @if (certificate.link) {
                            
                            <span class=" flex gap-2 cursor-pointer hover:text-primary">
                                <i class="pi pi-link"></i>
                                <span (click)="openNewWindow(certificate.link)" class="text-xs">Link</span>
                            </span>
                        }

                    </div>
    
                    <span class="mt-2 text-xs font-bold">{{ certificate.course }}</span>
                    <span class="text-xs text-600">{{ certificate.workload }}</span>
    
                </section>

                @if (idx < certificatesList.length - 1) { 
                    <p-divider styleClass="m-0" />
                }
            }
        }

    </div>

</dev-profile-panel>

<app-modal 
    [loading]="loading"
    [isOpen]="isModalOpen"
    [editLoading]="editLoading"
    [icon]="'workspace_premium'"
    [title]="'Editar Certificados'"
    (onClose)="isModalOpen = !isModalOpen">

    <p-tabView>

        @if(certificatesList) {

            @for (currentForm of certificatesFormList; track currentForm; let idx = $index) {

                <p-tabPanel header="{{certificatesList[idx].institution}}">

                    <div class="my-4">

                        <div class="flex justify-content-end">
                            <i  pTooltip="Atualizado em: {{ certificatesList[idx].updatedAt | DD_MM_YYYY }}"                                
                                class="material-icons cursor-pointer">help
                            </i>                                                            
                        </div>

                        <app-developer-certificates-form
                            [certificatesForm]="currentForm"
                        />

                        <div class="flex gap-2 mt-4">
                            <p-button
                                size="small"
                                label="Salvar"
                                icon="pi pi-check"
                                [loading]="loading || editLoading"
                                (click)="updateCertificate(currentForm)"
                                [disabled]="currentForm.invalid || loading || editLoading"
                                />
                            <p-button
                                size="small"
                                label="Excluir" 
                                severity="danger"
                                icon="pi pi-trash"
                                [loading]="loading || editLoading"
                                [disabled]="loading || editLoading"
                                (click)="confirmDelete($event, currentForm.value.id)"
                            />
                        </div>
                    </div>
    
                </p-tabPanel>     
            }
        }

    </p-tabView>
</app-modal>


<!-- (click)="onSave.emit({ form: currentForm, identifier: 'DEVELOPER_CERTIFICATES' })" -->