<dev-profile-panel 
    [isOwner]="isOwner"
    [loading]="loading"
    (onAdd)="onAdding()"
    [label]="'Certificados'"
    [icon]="'workspace_premium'"
    (onEdit)="isModalOpen = true">
    
    <div class="flex flex-column gap-4 md:pr-4 md:py-2">

        @if (!(certificatesList && certificatesList.length > 0)) {

            @if (isOwner) {

                <dev-new-field-btn
                    [loading]="loading || editLoading"
                    (newClick)="onAdding()"
                />
            
            } @else {
    
                <p class="text-xs">Nenhum registro</p>
            }

        } @else {

            @for (certificate of certificatesList; track certificate; let idx = $index) {

                <section class="flex flex-column gap-3">

                    <div class="flex justify-content-between align-items-center">
                        <span class="font-bold text-2xl">{{ certificate.institution }}</span>

                        @if (certificate.link) {
                            
                            <span class=" flex gap-2 cursor-pointer hover:text-primary">
                                <i class="pi pi-link"></i>
                                <span (click)="openNewWindow(certificate.link)" class="text-xs">Link</span>
                            </span>
                        }

                    </div>
    
                    <span class="mt-2 text-xs font-bold">{{ certificate.course }}</span>
                    <span class="text-xs text-600">{{ certificate.workload }}</span>
    
                </section>

                @if (idx < certificatesList.length - 1) { 
                    <p-divider styleClass="m-0" />
                }
            }
        }

    </div>

</dev-profile-panel>

<app-modal 
    [loading]="loading"
    [isOpen]="isModalOpen"
    [editLoading]="editLoading"
    [icon]="'workspace_premium'"
    (onClose)="onCloseModal()"
    [title]="(addingNewField ? 'Novo Certificado' : 'Editar Certificado')">

    @if (addingNewField && newFieldForm) {

        <p-tabView>
            <p-tabPanel header={{newFieldForm.value.institution}}>

                <div class="my-4">

                    <app-developer-certificates-form
                        [certificatesForm]="newFieldForm"
                    />

                    <p-button 
                        size="small"
                        label="Salvar" 
                        icon="pi pi-check"
                        [loading]="loading || editLoading"
                        (click)="addNewField(newFieldForm)"
                        [disabled]="newFieldForm.invalid || loading || editLoading"
                    />
                </div>

            </p-tabPanel>
        </p-tabView>
    }

    @else {

        @if(certificatesList && certificatesList.length > 0) {

            <p-tabView>

                @for (currentForm of certificatesFormList; track currentForm; let idx = $index) {
        
                    <p-tabPanel header="{{certificatesList[idx].institution}}">    
                        <div class="my-4">
    
                            <div class="flex justify-content-end">
                                <i  pTooltip="Atualizado em: {{ certificatesList[idx].updatedAt | DD_MM_YYYY }}"                                
                                    class="material-icons cursor-pointer">help
                                </i>                                                            
                            </div>
    
                            <app-developer-certificates-form
                                [certificatesForm]="currentForm"
                            />
    
                            <dev-save-delete-btn
                                [loading]="loading"
                                [disabled]="loading || editLoading"
                                (clickUpdate)="updateCertificate(currentForm)"
                                (clickDelete)="confirmDelete($event, currentForm.value.id)"
                                [saveDisabled]="currentForm.invalid || loading || editLoading"
                            />
                        </div>        
                    </p-tabPanel>
                }

            </p-tabView>
        }

        @else {

            <p class="text-xs">Nenhum registro</p>

            <dev-new-field-btn
                [loading]="loading || editLoading"
                (newClick)="onAdding()"
            />
        }
    }

</app-modal>