<div class="flex flex-column gap-2">

    @if (showSaveButton) {

        <button 
            type="submit"
            icon="pi pi-plus"
            [loading]="loading"
            [disabled]="disabled"
            (click)="onSave()" 
            pButton label="Salvar" 
            class="w-full mb-1 p-button-success">
        </button>
    }

    <div class="flex gap-2">

        @if (showPreviousButton) {

            <button 
                type="submit"
                [loading]="loading"
                pButton label="Voltar" 
                icon="pi pi-arrow-left"
                (click)="onPreviousClick()" 
                class="w-full mb-1 p-button-secondary">
            </button>
        }

        @if(showNextButton) {

            <button 
                type="submit"
                [loading]="loading"
                [disabled]="optional ? false : disabled"
                pButton label="Avançar" 
                icon="pi pi-arrow-right"
                (click)="onNextClick()" 
                class="w-full mb-1 p-button-primary">
            </button>
        }

    </div>
</div>