<form [formGroup]="addressForm">

    <label class="block font-medium mb-2">CEP</label>
    <p-inputMask formControlName="cep" mask="99999-999" styleClass="w-full" placeholder="_____-___" />
    <small class="mb-3 text-xs">Começar pelo CEP pode te poupar tempo</small>

    <label class="block font-medium mb-1">Endereço</label>
    <input formControlName="address" type="text" pInputText class="w-full mb-3">

    <label class="block font-medium mb-1">Bairro</label>
    <input formControlName="neighborhood" type="text" pInputText class="w-full mb-3">

    <label class="block font-medium mb-1">Cidade</label>
    <input formControlName="city" type="text" pInputText class="w-full mb-3">

    <label class="block font-medium mb-1">Estado</label>
    <input formControlName="state" type="text" pInputText class="w-full mb-3">

    <div class="flex gap-2 mb-3 w-full">
        <div>
            <label class="block font-medium mb-1">Complemento</label>
            <input formControlName="complement" type="text" pInputText class="w-full sm:w-25rem mb-3">
        </div>
        <div>
            <label class="block font-medium mb-1">Nº</label>
            <input formControlName="number" type="text" pInputText class="w-full mb-3">
        </div>
    </div>
</form>