@if (hiringprocess) {

    <p-panel [toggleable]="true">

        <ng-template pTemplate="header">
            <div class="flex align-items-center gap-2">
                <i class="material-icons">settings</i>
                <p>Painel de Controle</p>
            </div>
        </ng-template>

        <form class="flex flex-column gap-4">

            <p-fieldset legend="Informações">
     
                <section class="flex justify-content-between px-4">

                    <section class="flex flex-column gap-2">
                        <label class="block font-bold app-xs mb-1">Visualizar</label>
                        <p-button size="small" icon="pi pi-eye" pTooltip="Exbir página da vaga"
                            [routerLink]="['/dashboard/hiring/jobs/', hiringprocess.id]" />
                    </section>                    

                    <section class="flex flex-column gap-2">
                        <label class="block font-bold app-xs mb-1">Título</label>
                        <label class="block font-medium app-xs mb-1">{{hiringprocess.title}}</label>
                    </section>
        
                    <section class="flex flex-column gap-2">
                        <label class="block font-bold app-xs mb-1">Nº de inscritos:</label>
                        <label class="block font-medium app-xs mb-1">{{hiringprocess.subscribersCount}}</label>
                    </section>
        
                    <section class="flex flex-column gap-2">
                        <label class="block font-bold app-xs mb-1">Criado em:</label>
                        <label class="block font-medium app-xs mb-1">{{hiringprocess.createdAt | DD_MM_YYYY}}</label>
                    </section>
        
                    <section class="flex flex-column gap-2">
                        <label class="block font-bold app-xs mb-1">Atualizado em:</label>
                        <label class="block font-medium app-xs mb-1">{{hiringprocess.updatedAt | DD_MM_YYYY}}</label>
                    </section>
        
                    <section class="flex flex-column gap-2">
                        <label class="block font-bold app-xs mb-1">Responsável</label>
                        <label class="block font-medium app-xs mb-1">{{hiringprocess.recruiter}}</label>
                    </section>
    
                </section>

            </p-fieldset>

            <p-fieldset legend="Etapas">
     
                <section class="flex justify-content-between px-4">

                    @if (currentProcessStepIdentifier) {

                        <section class="flex w-full align-items-center gap-6">

                            @if (isProcessCompleted()) {

                                <section class="flex flex-column gap-2">
                                    <label class="block font-bold app-xs mb-1">Etapa Atual</label>
                                    <p-tag 
                                        [value]="getCurrentStepLabel(currentProcessStepIdentifier)" 
                                        [styleClass]="getCurrentStepSeverity(currentProcessStepIdentifier)"
                                    />
                                </section>
    
                            } @else {
                                
                                <section class="flex flex-column gap-2">
                                    <label class="block font-bold app-xs mb-1">Etapa Atual</label>
                                    <p-tag [value]="getCurrentStepLabel(currentProcessStepIdentifier)"                                        
                                        [styleClass]="getCurrentStepSeverity(currentProcessStepIdentifier)"
                                    />
                                </section>

                                @if (!isProcessFrozen() && !isProcessCancelled()) {

                                    <section class="flex flex-column gap-2">
                                        <label class="block font-bold app-xs mb-1">Próxima Etapa</label>
                                        <p-tag [value]="getNextStepLabel(currentProcessStepIdentifier)"                                            
                                            [styleClass]="getNextStepSeverity(currentProcessStepIdentifier)"
                                        />
                                    </section>

                                    <div class="flex flex-column gap-1">
                                        <div class="flex  align-items-center gap-2">
                                            <label class="block font-bold app-xs mb-1">Próxima Etapa</label>
                                            <i pTooltip="{{getDaysDifferenceString()}}" 
                                            class="small-icon mb-1 material-icons cursor-pointer">help</i>
                                        </div>
                                        <p-button 
                                            size="small"
                                            label="Avançar"
                                            severity="warning"
                                            styleClass="app-xs"
                                            [disabled]="checkIfCanChangeToNextStage()"
                                        />
                                    </div>

                                }

                            }

                        </section>

                        @if (!isProcessCompleted() && !isProcessCancelled()) {

                            <section class="flex justify-content-center align-items-center">
                                <p-menu #menu [model]="listOptionsMenu" [popup]="true"></p-menu>
                                <p-button
                                    size="small"
                                    icon="pi pi-cog"
                                    (click)="menu.toggle($event)"
                                    pTooltip="Abrir menu" [tooltipPosition]="'left'"
                                />
                            </section>
                        }
                    }

                </section>

            </p-fieldset>

        </form>

    </p-panel>
}