@if (panelControlForm && hiringprocess) {

    <p-panel [toggleable]="true">

        <ng-template pTemplate="header">
            <div class="flex align-items-center gap-2">
                <i class="material-icons">settings</i>
                <p>Painel de Controle</p>
            </div>
        </ng-template>

        <form class="flex flex-column gap-4 justify-content-between py-4 px-4 xl:flex-row xl:py-2" [formGroup]="panelControlForm">

            <section class="flex flex-column gap-2">
                <label class="block font-bold text-sm mb-1">Título</label>
                <label class="block font-medium text-xs mb-1">{{hiringprocess.title}}</label>
            </section>

            <section class="flex flex-column gap-2">
                <label class="block font-bold text-sm mb-1">Nº de inscritos:</label>
                <label class="block font-medium text-xs mb-1">{{panelControlForm.value.subscribers}}</label>
            </section>

            <section class="flex flex-column gap-2">
                <label class="block font-bold text-sm mb-1">Criado em:</label>
                <label class="block font-medium text-xs mb-1">{{hiringprocess.createdAt | DD_MM_YYYY}}</label>
            </section>

            <section class="flex flex-column gap-2">
                <label class="block font-bold text-sm mb-1">Atualizado em:</label>
                <label class="block font-medium text-xs mb-1">{{hiringprocess.updatedAt | DD_MM_YYYY}}</label>
            </section>

            <section class="flex flex-column gap-2">
                <label class="block font-bold text-sm mb-1">Responsável</label>
                <label class="block font-medium text-xs mb-1">{{hiringprocess.recruiter}}</label>
            </section>

            @if (currentProcessStepIdentifier) {

                <section class="flex flex-column gap-2">
                    <label class="block font-bold text-sm mb-1">Etapa Atual</label>
                    <p-tag 
                        [value]="getLabel(currentProcessStepIdentifier)" 
                        [styleClass]="getSeverity(currentProcessStepIdentifier)"
                    />
                </section>
            }

            <section class="flex flex-column gap-2">

                <label class="block font-bold text-sm mb-1">Alterar Etapa</label>

                <p-dropdown
                    [options]="hiringProcessStatusLabels" 
                    formControlName="step"
                    styleClass="mb-3 w-full"
                    optionValue="name" 
                    optionLabel="name"
                    placeholder="Selecione">

                    <ng-template let-item pTemplate="item">
                        <div [class]="item.color" class="p-1">
                            <p class="font-bold text-xs">{{item.name}}</p>
                        </div>
                    </ng-template>

                </p-dropdown>

            </section>

            <section class="flex flex-column gap-2">

                <label class="block font-bold text-sm mb-1">Salvar Alterações</label>
                
                <p-button 
                    label="Confirmar"
                    icon="pi pi-check"
                    severity="warning"
                    size="small"
                />

            </section>

        </form>

        <section class="flex align-items-center py-3 xl:py-0">

            <section class="flex w-full justify-content-between px-4">

                <section class="flex flex-column gap-2">

                    <label class="block font-bold text-sm mb-1">Visualizar</label>

                    <!-- redirecionar para a página da vaga -->
                    <p-button
                        pTooltip="Exbir perfil da vaga"
                        size="small"                                
                        icon="pi pi-eye"                                                         
                    />
                </section>

            </section>
        </section>

    </p-panel>
}