<form class="flex flex-column gap-2 m-auto text-sm w-20rem sm:w-30rem" [formGroup]="socialNetworkForm">

    <label class="block font-medium mb-1">Site</label>
    <input formControlName="website" type="text" pInputText class="w-full mb-3">

    <label class="block font-medium mb-1">Linkedin</label>
    <input formControlName="linkedin" type="text" pInputText class="w-full mb-3">

    <label class="block font-medium mb-1">Facebook</label>
    <input formControlName="facebook" type="text" pInputText class="w-full mb-3">

    <label class="block font-medium mb-1">Twitter</label>
    <input formControlName="twitter" type="text" pInputText class="w-full mb-3">

    <label class="block font-medium mb-1">Instagram</label>
    <input formControlName="instagram" type="text" pInputText class="w-full mb-3">

    <label class="block font-medium mb-1">Github</label>
    <input formControlName="github" type="text" pInputText class="w-full mb-3">

</form>