<p-panel [toggleable]="true">

    <ng-template pTemplate="header">
        <div class="flex align-items-center gap-2">
            <i class="material-icons">badge</i>
            <p class="app-xs">Etapas</p>
        </div>
    </ng-template>

    @if (currentProcessStepsList) {

        <section class="flex flex-column gap-4">

            @for (step of currentProcessStepsList; track step; let current_step_index = $index) {

                <p-accordion [activeIndex]="current_step_index">

                    <p-accordionTab> 
                    
                        <ng-template pTemplate="header">
                            <section class="flex w-full align-items-center justify-content-between pl-4">

                            <div class="flex align-items-center gap-2">

                                <p-tag class="app-lg"
                                    [value]="getLabel(step.identifier)"
                                    [styleClass]="getSeverity(step.identifier)"
                                />

                                @if (showProcessTagInfo(step.identifier)) {
    
                                    @if (checkIfIsCurrentStep(step.identifier)) {
                                        <p-tag icon="pi pi-verified" value="Etapa Atual" />
                                    }
                                }

                            </div>

                            @if (showProcessTagInfo(step.identifier)) {

                                <p-tag class="app-lg"
                                    [value]="'Etapa ' + getStepIndex(step.identifier)"
                                    [styleClass]="getSeverity(step.identifier)"
                                />
                            }

                            </section>
                        </ng-template>
                        
                        <section class="flex flex-column gap-2 xl:flex-row">

                            @if (step.identifier === 'CANCELLED') {

                                <section class="p-2">
                                    <p class="app-sm">Processo seletivo cancelado</p>
                                    <p class="app-sm">Exibir informações sobre o cancelamento do processo aqui</p>
                                </section>

                            } @else {

                                @if (step.identifier !== 'PROCESS_COMPLETED') {
                    
                                    <section class="flex justify-content-center flex-1 p-2 flex-wrap gap-4 xl:justify-content-start">
    
                                        @for (list of step.candidatesLists; track list;) {
        
                                            <section
                                                cdkDropList
                                                [id]="list.id"
                                                [cdkDropListData]="list.candidates"
                                                style="height: 30rem; width: 25rem;"
                                                (cdkDropListDropped)="itemdrop.emit($event)"
                                                [cdkDropListConnectedTo]="getCandidateListIds(step.candidatesLists)"
                                                class="list app-border border-round overflow-y-auto py-4 hidden-scroll flex-grow-1"
                                                [cdkDropListDisabled]="!checkIfIsCurrentStep(step.identifier)"
                                                [ngClass]="checkIfListQualifiesForNextStep(list.identifier) ? 'border-primary' : 'border-red-300' ">
                                                                
                                                <div class="pb-4 px-4 flex flex-column gap-2 justify-content-center align-items-center">
                            
                                                    <div class="flex justify-content-center align-items-center gap-2">
                                                        <h5 class="app-xs">{{ list.name }} ( {{ list.candidates.length }} )</h5>
                                                        <i pTooltip="{{list.description}}" class="material-icons small-icon cursor-pointer">help</i>
                                                    </div>
                            
                                                    @if (list.candidates.length > 0) {

                                                        <input 
                                                            pInputText
                                                            placeholder="Procurar"                                          
                                                            class="p-inputapp-sm w-full"
                                                            [(ngModel)]="searchTerms[list.id]"
                                                            (input)="onSearch(step.identifier, list.id)"
                                                        >

                                                    } @else {

                                                        <p class="app-xs">Nenhum candidato</p>
                                                    }

                                                </div>
                            
                                                @for (candidate of list.candidates; track candidate) {
                                                                        
                                                    <section cdkDrag                                                        
                                                        (click)="confirmViewProfile($event, candidate)"
                                                        class="list-item hover:bg-primary cursor-pointer py-2 px-4"
                                                        pTooltip="Clique para ver o perfil" tooltipPosition="bottom" [showDelay]="650">
                            
                                                        <div [ngClass]="{'cursor-not': !checkIfIsCurrentStep(step.identifier)}"                                                        
                                                        class="flex gap-2 align-items-center">
        
                                                            <p-avatar
                                                                size="normal"
                                                                shape="circle"                                
                                                                image={{candidate.picture}}
                                                                styleClass="mr-2"
                                                            />
                            
                                                            <p class="app-xs">{{ candidate.name }}</p>      
                            
                                                        </div>
                                                                            
                                                    </section>
                                                }
                                                
                                            </section>
                                        }
        
                                    </section>                                    
        
                                    @if (checkIfIsCurrentStep(step.identifier)) {
        
                                        <section class="flex justify-content-center align-items-center xl:py-2 xl:align-items-start">     
                                            <p-menu #menu [model]="listOptionsMenu" [popup]="true"></p-menu>
                                            <p-button
                                                size="small"                            
                                                icon="pi pi-cog"                                                
                                                (click)="menu.toggle($event)"                                    
                                                pTooltip="Abrir menu" [tooltipPosition]="'left'"
                                            />
                                        </section>
                                    }
    
                                } @else {
                
                                    <section class="p-2">
                                        <p class="app-sm">Processo seletivo concluído com sucesso</p>
                                        <p class="app-sm">Exibir informações sobre a conclusão do processo aqui</p>
                                    </section>
                
                                }

                            }

                        </section>

                    </p-accordionTab>

                </p-accordion>
            }

        </section>
    }

</p-panel>