<main class="p-4">

    <!-- filtro -->
    <section>

    </section>

    <section class="m-auto lg:w-10">

        @if (loading && talents.length === 0) {

            <app-loading-spinner />

        } @else {

            @if (talents.length > 0) {

                @if (talents.length !== totalTalentsCount) {
    
                    <div class="flex justify-content-between">
                        <p class="app-xs">Página <strong>{{currentPage}}</strong> de <strong>{{getNumberOfPages()}}</strong></p>
                        <p class="app-xs">Carregado <strong>{{talents.length}}</strong> de <strong>{{totalTalentsCount}}</strong></p>
                    </div>
    
                } @else {
    
                    <div class="flex justify-content-between">
                        <p class="app-xs">Página <strong>{{currentPage}}</strong> de <strong>{{getNumberOfPages()}}</strong></p>
                        <p class="app-xs">Todos resultados carregados</p>
                    </div>
                }
            }

            @else {

                <p class="text-center">Nenhum resultado encontrado</p>
            }
                
            @if (talents.length > 0) {

                <talent-preview
                    [loading]="loading"
                    [talents]="getTalentsForPage(currentPage)"
                />

                @if (totalTalentsCount > 10) {

                    <p-paginator styleClass="mt-4" [rows]="pageSize" [totalRecords]="totalTalentsCount" (onPageChange)="onPageChange($event)" />
                }
            }
        }

    </section>
    
</main>

