<main class="p-4">

    <!-- filtro -->
    <section>

    </section>

    <section class="m-auto lg:w-10">

        @if (loading && talents.length === 0) {

            <app-loading-spinner />

        } @else {

            @if (talents.length > 0) {

                @if (talents.length !== totalTalentsCount) {
    
                    <p class="app-xs">Mostrando <strong>{{talents.length}}</strong> de <strong>{{totalTalentsCount}}</strong></p>
    
                } @else {
    
                    <p class="app-xs">Todos os resultados</p>
                }
            }
    
            <talent-preview
                [loading]="loading"
                [talents]="getTalentsForPage(currentPage)"
            />
                <!-- [talents]="talents.slice((currentPage - 1) * pageSize, this.currentPage * this.pageSize)"     -->
                
            @if (talents.length > 0) {
    
                <p-paginator styleClass="mt-4" [rows]="pageSize" [totalRecords]="totalTalentsCount" (onPageChange)="onPageChange($event)" />
            }

        }

    </section>
    
</main>

