<dev-profile-panel 
    [icon]="'public'"
    [isOwner]="isOwner"
    [loading]="loading"
    [label]="'Idiomas'"
    (onAdd)="onAdding()"
    (onEdit)="isModalOpen = true">

    <div class="flex flex-column gap-4 md:pr-4 md:py-2">

        @if (!(languagesList && languagesList.length > 0)) {

            @if (isOwner) {

                <dev-new-field-btn
                    [loading]="loading || editLoading"
                    (newClick)="onAdding()"
                />
            
            } @else {

                <p class="text-xs">Nenhum registro</p>
            }

        } @else {

            <div class="flex flex-column gap-4">

                @for (language of languagesList; track language; let idx = $index) {

                    <span pTooltip={{language.level}} tooltipPosition="bottom">
                        <div class="flex justify-content-between align-items-center gap-3">

                            <span class="font-bold text-2xl">{{language.language}}</span>                   
            
                            <p-rating 
                                [stars]="5"
                                [readonly]="true"
                                [cancel]="false"
                                [(ngModel)]="language.rating"           
                            />

                        </div>
                    </span>

                    @if (idx < languagesList.length - 1) { 
                        <p-divider styleClass="m-0" />
                    }
                }

            </div>
        }

    </div>

</dev-profile-panel>


<app-modal
    [icon]="'public'"
    [isOpen]="isModalOpen"
    [title]="'Editar Idiomas'"
    (onClose)="onCloseModal()"
    [loading]="loading || editLoading"
    [title]="(addingNewField ? 'Novo Idioma' : 'Editar Idiomas')">
    
    @if (addingNewField && newFieldForm) {

        <p-tabView>
            <p-tabPanel header={{newFieldForm.value.language}}>

                <div class="my-4">

                    <app-developer-languages-form
                        [languagesForm]="newFieldForm"
                    />

                    <p-button 
                        size="small"
                        label="Salvar" 
                        icon="pi pi-check"
                        [loading]="loading || editLoading"
                        [disabled]="newFieldForm.invalid || loading || editLoading"
                        (click)="addNewField(newFieldForm)"
                    />
                </div>

            </p-tabPanel>
        </p-tabView>
    }

    @else {

        @if(languagesList && languagesList.length > 0) {

            <p-tabView>

                @for (currentForm of languagesFormList; track currentForm; let idx = $index) {

                    <p-tabPanel header="{{languagesList[idx].language}}">
                        <div class="my-4">
    
                            <div class="flex justify-content-end">
                                <i  pTooltip="Atualizado em: {{ languagesList[idx].updatedAt | DD_MM_YYYY }}"                                
                                    class="material-icons cursor-pointer">help
                                </i>                                                            
                            </div>
    
                            <app-developer-languages-form
                                [languagesForm]="currentForm"
                            />
    
                            <dev-save-delete-btn
                                [loading]="loading"
                                [disabled]="loading || editLoading"
                                (clickUpdate)="updateLanguage(currentForm)"                   
                                (clickDelete)="confirmDelete($event, currentForm.value.id)"
                                [saveDisabled]="currentForm.invalid || loading || editLoading"
                            />
                        </div>
                    </p-tabPanel>     
                }

            </p-tabView>
        }
        @else {

            <p class="text-xs">Nenhum registro</p>

            <dev-new-field-btn
                [loading]="loading || editLoading"
                (newClick)="onAdding()"
            />
        }
    }
</app-modal>