<main class="p-4 flex justify-content-center align-items-center">
    <div class="flex flex-column gap-4 w-20rem sm:w-30rem">

        <div class="text-center mb-5">
            <h1 class="line-height-3 text-lg font-medium">{{stepMessages[currentStep]}}</h1>
        </div>

        @switch (currentStep) {

            @case (0) {
                
                <app-company-account-form (emailAvailabilityError)="onEmailAvailabilityError($event)" />

                <signup-step-buttons
                    [loading]="loading"
                    [showPreviousButton]="false"
                    [disabled]="accountForm.invalid"
                    (nextClick)="changeStep('NEXT')" 
                />
            }

            @case (1) {

                <app-company-details-form />

                <signup-step-buttons
                    [loading]="loading" 
                    [disabled]="detailsForm.invalid"
                    (nextClick)="changeStep('NEXT')" 
                    (previousClick)="changeStep('PREVIOUS')"
                />
            }

            @case (2) {

                <app-address-form
                    (cepExternApiError)="onCepExternApiError($event)"
                    [addressForm]="addressForm"
                />

                <signup-step-buttons
                    [loading]="loading" 
                    [disabled]="addressForm.invalid"
                    (nextClick)="changeStep('NEXT')"
                    (previousClick)="changeStep('PREVIOUS')"
                />
            }

            @case (3) {
                
                <app-company-social-network-form />
                
                <signup-step-buttons
                    [loading]="loading" 
                    (nextClick)="changeStep('NEXT')"
                    [disabled]="socialNetworkForm.invalid"
                    (previousClick)="changeStep('PREVIOUS')"
                />
            }

            @case (4) {
                
                <app-company-contact-form />

                <button 
                    pButton 
                    [loading]="loading" 
                    icon="pi pi-arrow-right" 
                    label="Finalizar Cadastro"
                    [disabled]="contactForm.invalid" 
                    (click)="finalizeRegistration()" 
                    class="w-full p-button-success">
                </button>

                <signup-step-buttons
                    [loading]="loading" 
                    [showNextButton]="false"
                    (previousClick)="changeStep('PREVIOUS')"
                />
            }
        }

    </div>
</main>