<main class="flex justify-content-center align-items-center">

    <div class="py-6 border-round w-20rem sm:w-30rem">
        <div class="text-center mb-5">
            <h1 class="app-2xl font-medium mb-3">Fazer Login</h1>
        </div>

        <div class="flex flex-column gap-2">
            <label class="block font-medium mb-2">Email</label>
            <input [(ngModel)]="email" type="text" pInputText class="w-full mb-3">

            <label class="block font-medium mb-2">Senha</label>
            <input [(ngModel)]="password" type="password" pInputText class="w-full mb-3">

            <div class="flex align-items-center justify-content-between mb-2">
                <div class="flex align-items-center">
                    <p-checkbox [binary]="true" [(ngModel)]="rememberEmail" styleClass="mr-2" />
                    <label>Lembrar Email</label>
                </div>
                <a class="font-medium ml-2 text-blue-500 app-xs cursor-pointer">Esqueceu sua senha ?</a>
            </div>

            <div class="flex align-items-center">
                <p-checkbox [binary]="true" [(ngModel)]="stayConnected" styleClass="mr-2" />
                <label>Permanecer Conectado</label>
            </div>

            <button [disabled]="disableBtn()" [loading]="loading" pButton (click)="signin()" pRipple label="Entrar"
                icon="pi pi-user" class="w-full mt-6"></button>
        </div>
    </div>

</main>