<form [formGroup]="passwordForm">

    <label class="block font-medium mb-2">Senha</label>

    <p-password inputStyleClass="w-20rem sm:w-30rem" [toggleMask]="true" [weakLabel]="'Fraca'"
        formControlName="password" [mediumLabel]="'Boa'" [strongLabel]="'Ótima'" [promptLabel]="' '">

        <ng-template pTemplate="footer">
            <p-divider></p-divider>
            <p class="m-3 font-semibold">Dica</p>
            <ul class="line-height-2">
                <li>Pelo menos uma letra minúscula</li>
                <li>Pelo menos uma letra maiúscula</li>
                <li>Mínimo de 8 caracteres</li>
                <li>Pelo menos um número</li>
            </ul>
        </ng-template>
    </p-password>

    <label class="block font-medium mt-4 mb-2">Confirmar Senha</label>
    <p-password formControlName="confirm" inputStyleClass="w-20rem sm:w-30rem" name="cpassword" [feedback]="false" />

</form>