<main class="p-4">

    <section>
        <jobs-search-panel />
    </section>

    <section>

        <div class="flex flex-column align-items-center gap-6">

            @for (jobOffer of jobOffersList; track jobOffer;) {

                <section class="app-border border-round	pt-5 pb-3 px-8 w-10">

                    <div class="flex flex-column gap-5">

                        <div class="flex align-items-center justify-content-between">

                            <div class="flex align-items-center gap-6">

                                <p-image alt="Image" imageClass="h-8rem" src={{jobOffer.company.picture}} />

                                <div class="flex flex-column gap-3">

                                    <span class="font-bold">{{jobOffer.offer.title}}</span>

                                    <div class="flex align-items-center gap-2 text-sm">
                                        <i class="material-icons">apartment</i>
                                        <span 
                                            pTooltip="Ver perfil da empresa"
                                            [routerLink]="['/dashboard/company/profile/', jobOffer.company.profile]"
                                            class="cursor-pointer hover:text-primary">
                                            {{jobOffer.company.name}}
                                        </span>
                                    </div>
                                </div>

                            </div>

                            <div class="flex flex-wrap gap-2 w-5">
                                @for (stack of jobOffer.offer.stacklist.slice(0, maxStackChip); track stack) {
                                    <p-chip styleClass="text-xs" label={{stack}} />
                                }
                                @if (jobOffer.offer.stacklist.length > maxStackChip) {
                                    <p-chip 
                                        label="..."
                                        icon="pi pi-eye"
                                        styleClass="text-xs hover:bg-primary"
                                        pTooltip={{formatListWithLineBreaks(jobOffer.offer.stacklist)}}
                                    />
                                }
                            </div>

                            <div>
                                <button 
                                    pButton
                                    label="Ver Vaga"
                                    pTooltip="Ver página da oferta"
                                    [routerLink]="['/dashboard/developer/jobs/', jobOffer.offer.id]">
                                </button>
                            </div>

                        </div>

                        <div class="flex gap-4 text-sm align-items-center">

                            <div class="flex align-items-center">
                                <i class="pi pi-users mr-2"></i>
                                <span>{{jobOffer.offer.seniority}}</span>
                            </div>

                            <div class="flex align-items-center gap-2">
                                <i class="pi pi-map-marker"></i>
                                <span>{{jobOffer.offer.location}}</span>
                            </div>

                            <div class="flex align-items-center">
                                <i class="material-icons">attach_money</i>
                                <span>{{jobOffer.offer.salaryRange}}</span>
                            </div>

                        </div>
                        
                    </div>

                </section>

            }

        </div>

    </section>

</main>