@if (loading) {

    <app-loading-spinner />

} @else {

    @if (hiringList.length > 0) {

        <section class="my-8">
    
            <div class="flex gap-2 justify-content-center align-items-center mb-6">
                <h1>Processos em andamento</h1>
                <i pTooltip="Clique em um processo da lista para gerencia-lo" class="material-icons cursor-pointer">help</i>
            </div>
        
            <p-table 
                [value]="hiringList"
                [breakpoint]="'960px'" 
                responsiveLayout="stack" 
                [styleClass]="'p-datatable-striped p-datatable-sm'">
        
                <ng-template pTemplate="header">
                    <tr>
                        <th class="app-sm">Título</th>
                        <th class="app-sm">Categoria</th>
                        <th class="app-sm">Senioridade</th>
                        <th class="app-sm">Candidatos</th>
                        <th class="app-sm">Responsável</th>
                        <th class="app-sm">Início</th>
                        <th class="app-sm">Atualização</th>
                        <th class="app-sm">Encerramento</th>
                        <th class="app-sm">Status</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-process>
        
                    <tr [routerLink]="['/dashboard/company/recruitment/', process.id]"
                        class="hover:bg-primary cursor-pointer">
        
                        <td class="app-xs lg:app-sm">
                            <span class="my-3 app-xs font-bold p-column-title">Título</span>
                            <p class="app-xs">{{process.title}}</p>
                        </td>
        
                        <td class="app-xs lg:app-sm">
                            <span class="my-3 app-xs font-bold p-column-title">Categoria</span>
                            <p class="app-xs">{{process.category}}</p>
                        </td>
        
                        <td class="app-xs lg:app-sm">
                            <span class="my-3 app-xs font-bold p-column-title">Senioridade</span>
                            <p class="app-xs">{{process.seniority}}</p>
                        </td>
        
                        <td class="app-xs lg:app-sm">
                            <span class="my-3 app-xs font-bold p-column-title">Candidatos</span>                        
                            <p class="app-xs">{{process.subscribersCount}}</p>
                        </td>
        
                        <td class="app-xs lg:app-sm">
                            <span class="my-3 app-xs font-bold p-column-title">Responsável</span>                        
                            <p class="app-xs">{{process.recruiter}}</p>
                        </td>
        
                        <td class="app-xs lg:app-sm">
                            <span class="my-3 app-xs font-bold p-column-title">Início</span>
                            <p class="app-xs">{{process.createdAt | DD_MM_YYYY}}</p>
                        </td>
        
                        <td class="app-xs lg:app-sm">
                            <span class="my-3 app-xs font-bold p-column-title">Atualização</span>
                            <p class="app-xs">{{process.updatedAt | DD_MM_YYYY}}</p>
                        </td>
        
                        <td class="app-xs lg:app-sm">
                            <span class="my-3 app-xs font-bold p-column-title">Encerramento</span>
                            <p class="app-xs">{{process.deadline | DD_MM_YYYY}}</p>
                        </td>
        
                        <td>
                            <span class="my-3 app-xs font-bold p-column-title">Status</span>
                            <p-tag class="app-lg"
                                [value]="getLabel(process.currentStep)"
                                [styleClass]="getSeverity(process.currentStep)"
                            />
                        </td>
        
                    </tr>
                </ng-template>
            </p-table>
        
        </section>
    
    } @else {
    
        <section class="my-8">
            <h4>Nenhum processo seletivo foi encontrado.</h4>
        </section>
    }
}