@if (loading) {

    <section class="w-full">

        <p-skeleton 
            styleClass="w-full min-h-screen"
        />

    </section>

} @else {

    @if (messages) {

        <div class="flex flex-column gap-2">
        
            @for (message of messages; track message) {

                <div (click)="showContent.emit({ messageId: message.id })" class="app-border border-round cursor-pointer">

                    <div class="p-4 hover:bg-primary">
                        <div class="flex align-items-center gap-2 lg:gap-8" >

                            <!-- <p-checkbox [binary]="true" inputId="binary" /> -->
                            <span>{{message.sender}}</span>
                            <span>{{message.subject}}</span>

                            @if (message.severity !== 'normal') {
                                <p-tag
                                    severity="{{getCustomSeverity(message.severity).severity}}" 
                                    value="{{getCustomSeverity(message.severity).label}}" 
                                />
                            }

                        </div>
                    </div>

                </div>
            }

        </div>
    }
}