<p-dialog 
    [modal]="true"
    header="Header"
    [draggable]="true"
    [closable]="false"
    [resizable]="false"
    [(visible)]="isOpen" 
    [style]="{ width: '30vw' }"
    [breakpoints]="{ '960px': '95vw' }">

    <ng-template pTemplate="header">
        <div class="flex flex-column w-full">
            <div class="flex gap-2 align-items-center">
                <i class="material-icons">feedback</i>
                <span class="text-xl font-bold">Aviso</span>
            </div>
            <p-divider />
        </div>
    </ng-template>

    <h4 class="text-center">Você tem alterações não salvas:</h4>

    <section class="flex flex-column gap-2">
        @for (item of unsavedContent; track item; let idx = $index) {

            <div class="flex align-items-center gap-2">
                <i class="material-icons">check_circle</i>                    
                <p class="font-bold">{{item}}</p>
            </div>

            @if (idx < unsavedContent.length - 1) { 
                <p-divider styleClass="m-0" />
            }
        }
    </section>

    <ng-template pTemplate="footer">
        <p-divider />
        <section class="flex justify-content-between align-items-center">
            <p-button 
            size="small"
            label="Voltar e Salvar"
            icon="pi pi-check"
            (click)="onCancel.emit()"
            styleClass="p-button-success"
        />
        <p-button 
            size="small"
            label="Não Salvar"
            icon="pi pi-times"
            (click)="onConfirm.emit()"
            styleClass="p-button-danger"
        />
        </section>
    </ng-template>
</p-dialog>