<p-toast />
<p-confirmPopup />

<main class="flex justify-content-center align-items-center mt-6">
    <div class="border-round w-full lg:w-6">

        <div class="text-center">
            <h1 class="text-3xl font-medium mb-1">Cadastre-se</h1>
        </div>

        <div class="flex justify-content-center align-items-center gap-4">
            <span (click)="changeMode('DEV')" routerLink="/auth/signup/developer" class="cursor-pointer">
                <div class="flex justify-content-center align-items-center gap-2 mb-3"
                    [ngClass]="{'font-bold text-primary': mode === 'DEV'}">
                    <i class="pi pi-user"></i>
                    <h1 class="text-base font-medium">Developers</h1>
                </div>
            </span>
            <span (click)="changeMode('COMPANY')" routerLink="/auth/signup/company" class="cursor-pointer">
                <div class="flex justify-content-center align-items-center gap-2 mb-3"
                    [ngClass]="{'font-bold text-primary': mode === 'COMPANY'}">
                    <i class="pi pi-building"></i>
                    <h1 class="text-base font-medium">Business</h1>
                </div>
            </span>
        </div>
        
    </div>
</main>

<router-outlet />