<section class="flex gap-4 p-4">

    <button class="w-1" pButton [routerLink]="['/dashboard/developer/profile', 'f0f4e171-3532-40b8-84a4-87b40d0e0a39']">
        Dev Perfil 1
    </button>

    <button class="w-1" pButton [routerLink]="['/dashboard/developer/profile', 'e8fd3733-6b87-40fd-ad0b-269dcec05e65']">
        Dev Perfil 2
    </button>

    <button class="w-1" pButton [routerLink]="['/dashboard/developer/profile', '70fcbf51-e4e3-4457-8767-5f530d6a61a6']">
        Dev Perfil 3
    </button>

    <button class="w-1" pButton [routerLink]="['/dashboard/developer/profile', '1c866c33-02c4-404f-9573-05f481606016']">
        Dev Perfil 4
    </button>

    <button class="w-1" pButton [routerLink]="['/dashboard/company/profile', '1b1dd292-7815-4bbe-9551-2ee4410f57f0']">
        Company 1
    </button>

    <button class="w-1" pButton [routerLink]="['/dashboard/company/profile', '511a63ed-a096-4ee4-9a23-876bcc18afab']">
        Company 2
    </button>


</section>