<p-panel [toggleable]="true">

    <ng-template pTemplate="icons">

        @if (isOwner) {

            <p-menu #menu id="config_menu" [model]="menuOptions" [popup]="true" />
            <button class="p-panel-header-icon p-link mr-2" (click)="menu.toggle($event)">
                <span class="pi pi-cog"></span>
            </button>
        }

    </ng-template>

    @if (icon) {

        <ng-template pTemplate="header">
            <div class="flex align-items-center gap-2">
                <i class="material-icons">{{ icon }}</i>
                <p>{{ label }}</p>
            </div>
        </ng-template>
    }

    @if (loading) {

        <p-skeleton styleClass="w-full h-20rem" />
    }

    <ng-content />
    
</p-panel>