<main class="flex flex-column gap-4 md:flex-row-reverse min-h-screen p-4">

    <section class="md:max-w-23rem border-round pb-2">

        @if (loading) {
            
            <div class="w-23rem h-full p-4">
                <p-skeleton 
                    styleClass="w-full h-full min-h-screen"
                />
            </div>
        }

        @else {

            <company-profile-right-column 
                [profile]="currentProfile"
                (openWindow)="openInNewWindow($event)"
                [enableEditingMode]="enableEditingMode"
                (clickEdit)="openEditModal = !openEditModal"
            />
        }

    </section>

    <p-divider class="hidden lg:block" layout="vertical" />

    <section class="w-full p-4 border-round">

        @if (loading) {
            
            <p-skeleton 
                styleClass="w-full h-full min-h-screen"
            />
        }

        @else {

            <company-profile-left-column
                [loading]="loading"
                [openOffers]="openOffers"
                [currentProfile]="currentProfile"
                (onNavigate)="onClickNavigate($event)"
            />
        }
        
    </section>
    
</main>

@if(enableEditingMode) {

    <company-profile-edit-mode
        [isOpen]="openEditModal"
        (onSave)="onSave($event)"
        [profile]="currentProfile"
        [loading]="loading || editLoading"
        (onClose)="openEditModal = !openEditModal"
        (onCepExternApiError)="onCepExternApiError($event)"
    />
}