@if (accountForm) {

    <form class="flex flex-column gap-2 m-auto app-sm w-20rem sm:w-30rem" [formGroup]="accountForm">

        <label class="block font-medium mb-1">Nome Completo</label>
        <input formControlName="name" type="text" pInputText class="w-full mb-3">
    
        <label class="block font-medium mb-1">Email Corporativo</label>
        <app-email-form (emailAvailabilityError)="onEmailAvailabilityError($event)" />
    
        <label class="block font-medium mb-1">Telefone</label>
        <p-inputMask formControlName="phone" mask="(99)-9-9999-9999" styleClass="w-full mb-3"
            placeholder="(99)-9-9999-9999" />
    
        <app-password-form />
    </form>
}