@if (projectsList.length > 0) {

    <p-accordion class="w-full">
        <p-accordionTab>

            <ng-template pTemplate="header">
                <div class="flex flex-column w-full">
                    <div class="flex gap-2 align-items-center">
                        <i class="material-icons">web</i>
                        <span>Projetos</span>
                    </div>
                </div>
            </ng-template>

            <p-tabView>

                @for (item of projectsList; track item) {

                    <p-tabPanel header="{{item.title}}">

                        <p><span class="font-semibold">Título</span>: {{item.title}}</p>
                        <p class="font-semibold">Descrição:</p>
                        <p class="max-w-30rem text-justify">{{ item.resume }}</p>

                        <div class="flex gap-2 align-items-center">
                            <i class="material-icons">link</i>
                            <p class="cursor-pointer font-bold hover:underline" (click)="openNewWindow(item.link!)">Link</p>
                        </div>

                        <form-edit-buttons 
                            [item]="item" 
                            (deleteClick)="onAction('remove', item)"
                            (editClick)="onAction('edit', item)" 
                        />

                    </p-tabPanel>
                }

            </p-tabView>
        </p-accordionTab>
    </p-accordion>
}