<header class="border-round">

    <main class="flex justify-content-around align-items-center">

        <section routerLink="/">
            <span class="app-sm font-bold cursor-pointer">Início</span>
        </section>

        <section *ngIf="isRoute('/auth/signup')" routerLink="/auth/signin">
            <span class="app-sm font-bold cursor-pointer">Entrar</span>
        </section>

        <section *ngIf="isRoute('/auth/signin')" routerLink="/auth/signup">
            <span class="app-sm font-bold cursor-pointer">Cadastrar-se</span>
        </section>

    </main>

    @if (loading) {
        <p-progressBar mode="indeterminate" [style]="{ height: '3px' }" />
    }
</header>