<dev-profile-panel
    [icon]="'school'"
    [isOwner]="isOwner"
    [loading]="loading"
    (onAdd)="onAdding()"
    [label]="'Formação Acadêmica'"
    (onEdit)="isModalOpen = true"
    >

    <div class="flex flex-column gap-4 md:pr-4 md:py-2">

        @if (!(educationList && educationList.length > 0)) {

            @if (isOwner) {

                <dev-new-field-btn
                    [loading]="loading || editLoading"
                    (newClick)="onAdding()"
                />
            
            } @else {
    
                <p class="text-xs">Nenhum registro</p>
            }

        } @else {

            @for (education of educationList; track education; let idx = $index) {

                <div class="flex flex-column">
                    <span class="font-bold text-2xl">{{education.institution}}</span>
                    <span class="mt-2 text-xs font-bold">{{education.course}}</span>

                    <div class="mt-2 flex gap-2 text-xs text-600">
                        <span>De: {{education.from | MM_YYYY}}</span>
                        <span>Até: {{education.to | MM_YYYY}}</span>
                    </div>

                    <span class="text-xs font-bold mt-4">{{education.modality}}</span>

                    <div class="flex gap-2 mt-2">
                        <span class="text-xs font-bold">{{education.type}}</span>
                        <span class="text-xs font-semibold">{{education.status}}</span>
                    </div>
                </div>

                @if (idx < educationList.length - 1) { 
                    <p-divider styleClass="m-0" />
                }
            }
        }

    </div>

</dev-profile-panel>

<app-modal
    [icon]="'school'"
    [loading]="loading"
    [isOpen]="isModalOpen"
    (onClose)="onCloseModal()"
    [editLoading]="editLoading"
    [title]="(addingNewField ? 'Nova' : 'Editar') + ' Formação Acadêmica'">
    
    @if (addingNewField && newFieldForm) {

        <p-tabView>
            <p-tabPanel header={{newFieldForm.value.company}}>

                <div class="my-4">

                    <app-developer-academic-education-form
                        [academicEducationForm]="newFieldForm"
                    />

                    <p-button 
                        size="small"
                        label="Salvar" 
                        icon="pi pi-check"
                        [loading]="loading || editLoading"
                        [disabled]="newFieldForm.invalid || loading || editLoading"
                        (click)="addNewField(newFieldForm)"
                    />
                </div>

            </p-tabPanel>
        </p-tabView>
    }

    @else {

        @if(educationList && educationList.length > 0) {

            <p-tabView>

                @for (currentForm of academicEducationFormList; track currentForm; let idx = $index) {

                    <p-tabPanel header="{{educationList[idx].institution}}">
                        <div class="my-4">
    
                            <div class="flex justify-content-end">
                                <i  pTooltip="Atualizado em: {{ educationList[idx].updatedAt | DD_MM_YYYY }}"                                
                                    class="material-icons cursor-pointer">help
                                </i>                                                            
                            </div>
    
                            <app-developer-academic-education-form
                                [academicEducationForm]="currentForm"
                            />
    
                            <dev-save-delete-btn
                                [loading]="loading"
                                [disabled]="loading || editLoading"
                                (clickUpdate)="updateAcademicEducation(currentForm)"                   
                                (clickDelete)="confirmDelete($event, currentForm.value.id)"
                                [saveDisabled]="currentForm.invalid || loading || editLoading"
                            />
                        </div>
                    </p-tabPanel>

                }

            </p-tabView>
        }
        @else {

            <p class="text-xs">Nenhum registro</p>

            <dev-new-field-btn
                [loading]="loading || editLoading"
                (newClick)="onAdding()"
            />
        }
    }
</app-modal>