<dev-profile-panel 
    [icon]="'school'"
    [isOwner]="isOwner"
    [loading]="loading"
    [label]="'Formação Acadêmica'"
    (onEdit)="isModalOpen = true"
    >

    <div class="flex flex-column gap-4 md:pr-4 md:py-2">

        @if (!(educationList && educationList.length > 0)) {

            @if (isOwner) {

                <p-button 
                    size="small"
                    label="Novo"
                    icon="pi pi-plus"
                    severity="success"
                    [loading]="loading || editLoading"
                />
            
            } @else {
    
                <p class="text-xs">Nenhum registro</p>
            }

        } @else {

            @for (education of educationList; track education; let idx = $index) {

                <div class="flex flex-column">
                    <span class="font-bold text-2xl">{{education.institution}}</span>
                    <span class="mt-2 text-xs font-bold">{{education.course}}</span>

                    <div class="mt-2 flex gap-2 text-xs text-600">
                        <span>De: {{education.from | MM_YYYY}}</span>
                        <span>Até: {{education.to | MM_YYYY}}</span>
                    </div>

                    <span class="text-xs font-bold mt-4">{{education.modality}}</span>

                    <div class="flex gap-2 mt-2">
                        <span class="text-xs font-bold">{{education.type}}</span>
                        <span class="text-xs font-semibold">{{education.status}}</span>
                    </div>
                </div>

                @if (idx < educationList.length - 1) { 
                    <p-divider styleClass="m-0" />
                }
            }
        }

    </div>

</dev-profile-panel>

<app-modal 
    [icon]="'school'"
    [loading]="loading"
    [editLoading]="editLoading"
    [isOpen]="isModalOpen"
    [title]="'Editar Formação Acadêmica'"
    (onClose)="isModalOpen = !isModalOpen">

    <p-tabView>

        @if(educationList) {

            @for (currentForm of academicEducationFormList; track currentForm; let idx = $index) {

                <p-tabPanel header="{{educationList[idx].institution}}">

                    <div class="my-4">

                        <div class="flex justify-content-end">
                            <i  pTooltip="Atualizado em: {{ educationList[idx].updatedAt | DD_MM_YYYY }}"                                
                                class="material-icons cursor-pointer">help
                            </i>                                                            
                        </div>

                        <app-developer-academic-education-form
                            [academicEducationForm]="currentForm"
                        />

                        <div class="flex gap-2 mt-4">
                            <p-button 
                                size="small"
                                label="Salvar" 
                                icon="pi pi-check"
                                [loading]="loading || editLoading"
                                [disabled]="currentForm.invalid || loading || editLoading"
                                (click)="updateAcademicEducation(currentForm)"
                            />
                            <p-button 
                                size="small"
                                label="Excluir" 
                                severity="danger"
                                icon="pi pi-trash"
                                [loading]="loading || editLoading"
                                [disabled]="loading || editLoading"
                                (click)="confirmDelete($event, currentForm.value.id)"
                            />
                        </div>
                    </div>
    
                </p-tabPanel>     
            }
        }

    </p-tabView>
</app-modal>