<main class="min-h-screen flex flex-column gap-4 p-4">

    @if (hiringprocess) {

        <process-control-panel
            [hiringprocess]="hiringprocess"
            (changeProcessToNextStep)="onChangeProcessToNextStep($event)"
            [currentProcessStepIdentifier]="currentProcessStepIdentifier"
        />

        <process-steps
            (itemdrop)="handleItemDrop($event)"
            (menuClick)="handleMenuClick($event)"
            [currentProcessStepsList]="currentProcessStepsList"
            [currentProcessStepIdentifier]="currentProcessStepIdentifier"
        />
    }

</main>

<app-modal
    [width]="'35vw'"
    [icon]="'receipt_long'"
    [title]="'Lista Personalizada'"
    [isOpen]="creatingNewCandidateList"
    (onClose)="creatingNewCandidateList = false"
>

    @if (newCandidateListForm) {

        <section class="px-4">

            <div class="flex gap-2 justify-content-center align-items-center w-full">
                <h4>Criar lista personalizada</h4>
                <i pTooltip="Crie uma lista personalizada para organizar seus candidatos como preferir"
                class="material-icons cursor-pointer small-icon">help</i>
            </div>
    
            <form class="flex flex-column gap-4 py-4" [formGroup]="newCandidateListForm">
            
                <section class="flex flex-column gap-2">
                    <label class="block font-bold app-sm mb-1">Nome da lista</label>
                    <input formControlName="name" type="text" pInputText class="w-full mb-3">
                </section>

                <section class="flex flex-column gap-2">
                    <label class="block font-bold app-sm mb-1">Descrição</label>
                    <input formControlName="description" type="text" pInputText class="w-full mb-3">
                </section>

            </form>

            <p-button 
                size="small"
                label="Salvar"
                icon="pi pi-check"
                styleClass="p-button-success"
                (click)="saveNewList()"
                pTooltip="Salvar lista personalizada"
            />
            
        </section>
    }

</app-modal>

<!-- canDeactivate modal -->
<app-modal 
    [width]="'35vw'"
    [title]="'Aviso'"
    [icon]="'feedback'"
    [isOpen]="openUnsavedChangesAlert"
    (onClose)="openUnsavedChangesAlert = false"
>
    <section class="mb-6">

        <h4 class="app-sm text-center">Você tem <span class="text-primary">{{unsavedThings.length > 1 ? unsavedThings.length : null}}</span> alterações não salvas:</h4>

        <section class="flex flex-column gap-2">
            @for (item of unsavedThings; track item; let idx = $index) {
    
                <div class="flex align-items-center gap-2">
                    <i class="material-icons">check_circle</i>                    
                    <p [innerHTML]="item.message" class="app-xs"></p>
                </div>
    
                @if (idx < unsavedThings.length - 1) { 
                    <p-divider styleClass="m-0" />
                }
            }
        </section>

    </section>

    <p-button 
        size="small"
        icon="pi pi-times"
        label="Continuar navegação"
        styleClass="p-button-danger"
        (click)="continueNavigation()"
    />
</app-modal>