<main class="p-4">

    <section class="flex flex-column lg:flex-row">

        @if (loading) {

            <section class="lg:w-3">

                <p-skeleton 
                    styleClass="w-full min-h-screen"
                />

            </section>

        } @else {

            <div class="flex flex-column gap-2 lg:w-3">

                @for (option of options; track option) {
    
                    <div (click)="option.command()"
                        [ngClass]="{ 'bg-primary': currentOptionSelected === option.identifier }"
                        class="app-border border-round cursor-pointer hover:bg-primary py-3 px-4">
    
                        <div class="flex justify-content-between align-items-center">
    
                            <div class="flex align-items-center gap-3">
                                <i class="material-icons">{{option.icon}}</i>
                                <span class="text-sm">{{option.label}}</span>
                            </div>
                               
                            @if (notifications && notifications.messages[option.identifier].length > 0 ) {

                                <p-badge
                                    severity="success"
                                    value="{{notifications.messages[option.identifier].length}}" 
                                />

                                <!-- <p-badge 
                                    [severity]="isUnreadContent(option.identifier) ? 'danger' : 'success'" 
                                    value="{{notifications.messages[option.identifier].length}}" 
                                /> -->
                            }

                        </div>
                    </div>
                }
                
            </div>

        }

        <p-divider class="hidden lg:block h-screen" layout="vertical" />
        <p-divider class="lg:hidden" layout="horizontal" />

        @if (currentMessageDisplayed) {

            <section class="w-full">

                <message-body
                    [loading]="markAsReadLoading"                    
                    [message]="currentMessageDisplayed"
                    (performAction)="onPerformAction($event)"
                />

            </section>

        } @else {

            <section class="flex w-full flex-column gap-2">
    
                @for (message of messagesbeingDisplayed; track message) {
     
                    <div [ngClass]="message.unread ? 'border-dashed' : '' "
                        class="app-border border-round cursor-pointer hover:bg-primary">
    
                        <div class="flex">
    
                            <!-- 
                            <div class="p-3">
                                <p-checkbox
                                    [binary]="true"
                                    inputId="binary"
                                    (click)="selectMessage(message)"
                                    [ngModel]="message.selected ? true : false" 
                                />
                            </div> 
                            -->
                            
                            <div class="flex w-full gap-2 p-3" (click)="currentMessageDisplayed = message">
    
                                <div class="flex w-full justify-content-start align-items-center gap-2 lg:gap-8" >
    
                                    <div class="flex align-items-center w-full gap-2">
                                        <span class="font-bold text-xs">De :</span>
                                        <span class="text-sm">{{message.senderEmail}}</span>
                                    </div>
                                    
                                    <div class="flex align-items-center w-full gap-2">
                                        <span class="font-bold text-xs">Assunto :</span>
                                        <span class="text-sm">{{message.subject}}</span>
                                    </div>

                                    <!--
                                    <div class="flex align-items-center w-full gap-2">
                                        <span class="font-bold text-xs">Data :</span>
                                        <span class="text-sm">{{message.createdAt | DD_MM_YYYY}}</span>
                                    </div>
                                    -->
                                </div>

                                <div class="w-1">
                                    @if (message.severity !== 'NORMAL') {
                                        <p-tag
                                            severity="{{getCustomSeverity(message.severity).severity}}" 
                                            value="{{getCustomSeverity(message.severity).label}}" 
                                        />
                                    }
                                    
                                </div>
    
                            </div>
                            
                        </div>
    
                    </div>

                } @empty {

                    <p>{{emptyContent[currentOptionSelected]}}</p>                    
                }

            </section>

        }

    </section>

</main>
