<main class="p-4 flex justify-content-center align-items-center">
    <div class="flex flex-column gap-4 w-20rem sm:w-30rem">

        <div class="text-center mb-5">
            <h1 class="line-height-3 text-lg font-medium">{{stepMessages[currentStep]}}</h1>
        </div>

        @switch (currentStep) {

            @case (0) {
                
                <app-developer-about-form />
                
                <signup-step-buttons
                    [loading]="loading"
                    [showPreviousButton]="false"
                    [disabled]="aboutForm.invalid"
                    (nextClick)="changeStep('NEXT')" 
                />
            }

            @case (1) {
                
                <app-developer-contact-form (emailAvailabilityError)="onEmailAvailabilityError($event)" />

                <signup-step-buttons
                    [loading]="loading" 
                    [disabled]="contactForm.invalid"
                    (nextClick)="changeStep('NEXT')"
                    (previousClick)="changeStep('PREVIOUS')"
                />
            }
            
            @case (2) {
                
                <app-address-form (cepExternApiError)="onCepExternApiError($event)" />

                <signup-step-buttons
                    [loading]="loading"
                    [disabled]="addressForm.invalid"
                    (nextClick)="changeStep('NEXT')"
                    (previousClick)="changeStep('PREVIOUS')"
                />
            }
            
            @case (3) {

                <dev-academic-form-preview
                    [academicEducationList]="academicEducationList"
                    (onChange)="handlePreviewChanges($event)"
                />

                <app-developer-academic-education-form />

                <signup-step-buttons
                    [optional]="true"
                    [loading]="loading"
                    [showSaveButton]="true"
                    (nextClick)="changeStep('NEXT')"
                    (previousClick)="changeStep('PREVIOUS')"
                    (saveClick)="onSave('ACADEMIC_EDUCATION')"
                    [disabled]="academicEducationForm.invalid"        
                />
            }

            @case (4) {

                <job-experience-form-preview
                    [jobExperiencesList]="jobExperiencesList"
                    (onChange)="handlePreviewChanges($event)"
                />

                <app-developer-job-experiences-form />

                <signup-step-buttons
                    [optional]="true"
                    [loading]="loading"
                    [showSaveButton]="true"
                    (nextClick)="changeStep('NEXT')"
                    (previousClick)="changeStep('PREVIOUS')"
                    (saveClick)="onSave('JOB_EXPERIENCES')"
                    [disabled]="jobExperiencesForm.invalid"  
                />
            }

            @case (5) {

                <certificates-form-preview 
                    [certificatesList]="certificatesList"
                    (onChange)="handlePreviewChanges($event)"
                />
                
                <app-developer-certificates-form />

                <signup-step-buttons
                    [optional]="true"
                    [loading]="loading"
                    [showSaveButton]="true"
                    (nextClick)="changeStep('NEXT')"
                    [disabled]="certificatesForm.invalid"
                    (saveClick)="onSave('CERTIFICATES')"
                    (previousClick)="changeStep('PREVIOUS')"
                />
            }

            @case (6) {

                <projects-form-preview
                    [projectsList]="projectsList"
                    (onChange)="handlePreviewChanges($event)"
                />

                <app-developer-projects-form />

                <signup-step-buttons
                    [optional]="true"
                    [loading]="loading"
                    [showSaveButton]="true"
                    (nextClick)="changeStep('NEXT')"
                    [disabled]="projectsForm.invalid"
                    (saveClick)="onSave('PROJECTS')"
                    (previousClick)="changeStep('PREVIOUS')"
                />            
            }

            @case (7) {
        
                <languages-form-preview 
                    [languagesList]="languagesList"
                    (onChange)="handlePreviewChanges($event)"
                />

                <app-developer-languages-form />

                <signup-step-buttons
                    [optional]="true"
                    [loading]="loading"
                    [showSaveButton]="true"
                    (nextClick)="changeStep('NEXT')"
                    [disabled]="languagesForm.invalid"
                    (saveClick)="onSave('LANGUAGES')"
                    (previousClick)="changeStep('PREVIOUS')"
                />
            }

            @case (8) {
                                
                <stacklist-form-preview
                    [stackList]="stackList"
                    (onChange)="handlePreviewChanges($event)"
                />

                <app-developer-stacklist-form />

                <signup-step-buttons
                    [optional]="true"
                    [loading]="loading"
                    [showSaveButton]="true"
                    (nextClick)="changeStep('NEXT')"
                    [disabled]="stackListForm.invalid"
                    (saveClick)="onSave('STACKLIST')"
                    (previousClick)="changeStep('PREVIOUS')"
                />
            }
            
            @case (9) {
                
                <app-password-form />

                <button 
                    pButton 
                    [loading]="loading" 
                    icon="pi pi-arrow-right" 
                    label="Finalizar Cadastro"
                    [disabled]="passwordForm.invalid" 
                    (click)="finalizeRegistration()" 
                    class="w-full p-button-success">
                </button>

                <signup-step-buttons
                    [loading]="loading" 
                    [showNextButton]="false"
                    (previousClick)="changeStep('PREVIOUS')"
                />
            }
        }

    </div>
</main>